* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.promo {
    height: 800px;
    background: url('../img/background-2.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}
h1 {
    margin-top: 43px;
}
h2.title {
    margin-top: -5px;
}
.title {
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #f9bf3b;
}
.simple {
    display: flex;
    justify-content: center;
}
.simple .line {
    width: 262px;
    height: 2px;
    margin: 40px 18px 50px 20px;
    background-color: #fff;
}
.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: -15px;
}
.promo_text {
    font-size: 21px;
    font-weight: 200;
    text-align: center;
    color: #fff;
    margin-top: 21px;
    margin-bottom: 73px;
}
.promo .promo_text span {
    font-weight: 900;
    color: #f9bf3b;
    text-transform: uppercase;
}
button {
    display: block;
    margin: 69px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(26, 21, 19, 0.78);
    border-radius: 5%;
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}
.more_text {
    color: #fff;
    font-family: 'Roboto-thin';
    text-transform: uppercase;
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}
.program {
    padding: 85px 0 75px 0;
    background-color: #efefef;
    min-height: 604px;
}
.program .program_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 18px;
}
.program .program_divider,
.completion_line {
    width: 217px;
    height: 4px;
    margin: 0 auto;
    background-color: #f9bf3b;
}
.program_subheader {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}
.program_waiting {
    display: flex;
    justify-content: space-between;
}
.waiting {
    width: 354px;
    margin-top: 45px;
}
.waiting_exception {
    margin-right: 0px;
}
.waiting_image {
    width: 100%;
}
.waiting_description {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #4a4a4a;
    width: 354px;
    margin-top: 33px;
}

.optimization {
    position: relative;
    min-height: 550px;
    padding: 102px 0 81px 0;
}
.optimization .optimization_header {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    margin-left: 395px;
}
.optimization_description {
    margin-left: 395px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
    color: #4a4a4a;
}
.optimization_description span {
    font-weight: bold;
}
.optimization img {
    position: absolute;
    top: 54px;
    left: 200px;
    z-index: -1;
}
.completion {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/background-1.png') center center/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completion_header {
    font-size: 30px;
    font-weight: 400;
    color: #efefef;
    text-align: center;
    margin-bottom: 23px;
}
.completion_container {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 300;
    color: #efefef;
    margin-top: 41px;
}
.completion_container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.completion_img {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.completion_text {
    width: 196px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: #efefef;
}

.gift {
    min-height: 628px;
    padding: 86px 0px 87px 0px;
    background-color: #efefef;
}
.gift_wrapper {
    text-align: center;
}
.gift_text {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #252525;
    margin-top: 42px;
}

.gift_wrapper button {
    margin: 0 auto;
    margin-top: 52px;
}

.webinar {
    min-height: 515px;
    padding: 89px 0px 64px 0px;
    background-color: #fff;
}
.wrapper {
    text-align: center;
}
.webinar_introduction {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #252525;
    margin-top: 37px;
    margin-bottom: 30px;
}
.webinar_date {
    font-size: 36px;
    font-weight: 900;
    font-stretch: 400;
    text-align: center;
    color: #299cbd;
}
.webinar_text {
    font-size: 23px;
    font-weight: normal;
    font-stretch: 400;
    text-align: center;
    color: #4a4a4a;
    margin-top: 25px;
}
footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}
.footer_text {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888;
}
.footer_text a {
    color: #888;
}
.footer_text a:nth-child(4) {
    color: #888;
    text-decoration: none;
}
